lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz
temp.*

pids
logs
results
build

node_modules

# redis db dump
*.rdb

# contains api secrets & tokens
dev.sh

# pm2 conf, contains api secrets & tokens, need manual upload
processes.json

# foreman dev env var, contains API keys & secrets
.env

# only used for sequelize CLI; contains prod db auth info
db/config.json

# keys (e.g. for GA service account)
*.p12
*.pem
