<style>
  .b-table-pkgs thead td { min-width: 95px; cursor: pointer; }
</style>

<!--<h2>Top packages over past <span>7 days <i class="fa fa-caret-down"></i></span></h2>-->
<h2>Top packages over past 7 days</h2>

<table class="table table-condensed b-table-pkgs">

  <thead>
  <tr>
    <td>
      <span ng-click="setPredicate('currentRank')">
        <span ng-class="{ underline:checkPredicate('currentRank') }">Rank</span>&nbsp;<i class="fa fa-sort-numeric-asc" ng-class="{ 'fa-sort-numeric-desc':checkPredicate('currentRank', reverse) }"></i>
      </span>
      <i class="fa fa-fw fa-rocket" ng-click="setPredicate('-rankDelta')" ng-class="{ 'fa-flip-vertical':checkPredicate('-rankDelta', reverse), underline:checkPredicate('-rankDelta') }"></i>
    </td>
    <td ng-click="setPredicate('name')">
      <span ng-class="{ underline:checkPredicate('name') }">Package</span>
      <i class="fa fa-sort-alpha-asc" ng-class="{ 'fa-sort-alpha-desc':checkPredicate('name', reverse) }"></i>
    </td>
    <td ng-click="setPredicate('-currentInstallsSum')">
      <span ng-class="{ underline:checkPredicate('-currentInstallsSum') }">Installs</span>
      <i class="fa fa-sort-numeric-asc" ng-class="{ 'fa-sort-numeric-desc':!checkPredicate('-currentInstallsSum', reverse) }"></i>
    </td>
    <td ng-click="setPredicate('ghOwner')">
      <i class="fa fa-github-alt"></i> <span ng-class="{ underline:checkPredicate('ghOwner') }">Owner</span>
      <i class="fa fa-sort-alpha-asc" ng-class="{ 'fa-sort-alpha-desc':checkPredicate('ghOwner', reverse) }"></i>
    </td>
    <td>
      <i class="fa fa-star b-gh" ng-click="setPredicate('ghStars')"></i> •
      <i class="fa fa-exclamation-circle b-gh" ng-click="setPredicate('ghIssues')"></i>
    </td>

    <td ng-click="setPredicate('-ghUpdated')">
      <span ng-class="{ underline:checkPredicate('-ghUpdated') }">Last Push</span>
      <i class="fa fa-sort-numeric-asc" ng-class="{ 'fa-sort-numeric-desc':checkPredicate('-ghUpdated', reverse) }"></i>
    </td>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="pkg in packages | orderBy:predicate:reverse | predicateFilter:predicate"
      ng-hide="pkg.name !== 'angular' && pkg.ghOwner === 'angular' && hideAngular">

    <!--rank-->
    <td>
      {{ pkg.currentRank }}
      <br/>
      <b-delta delta="{{ pkg.rankDelta }}" type="num"></b-delta>
    </td>

    <!--name & desc-->
    <td>
      <span class="pull-right b-hide"
            ng-if="pkg.name === 'angular'"
            ng-click="toggleHideAngular()">
        <i class="fa b-gh" ng-class="'fa-' + ($parent.hideAngular ? 'plus' : 'minus') + '-square'"></i>
        <small ng-switch on="$parent.hideAngular">
          <span ng-switch-when="true">Show</span>
          <span ng-switch-when="false">Hide</span>
          Core Modules
        </small>
      </span>
      <i ng-if="$index < 3 && predicate === 'currentRank' && reverse === false" class="fa fa-trophy"></i>

      <!--sometimes package has no github info-->
      <span ng-switch on="!!pkg.ghUrl">
        <span ng-switch-when="false">{{ pkg.name }}</span>
        <a ng-switch-default ng-href="{{ pkg.ghUrl }}">{{ pkg.name }}</a>
      </span>

      <br/>
      <small>{{ pkg.ghDesc }}</small>
    </td>

    <!--installs-->
    <td>
      {{ pkg.currentInstallsSum | round }} <!--[prior, current]-->
      <br/>
      <b-delta delta="{{ pkg.currentInstallsSum / pkg.installsSum[0] - 1 }}" type="pct"></b-delta>
    </td>

    <!--GH stuff-->
    <td>
      <a ng-href="{{ pkg.ghUrl }}">
        <img ng-src="{{ pkg.ghOwnerAvatar }}" alt="" class="img-rounded"/>
        {{ pkg.ghOwner }}
      </a>
    </td>

    <td>
      <span ng-show="pkg.ghStars && pkg.ghStars !== 0">
        <i class="fa fa-star b-gh"></i> {{ pkg.ghStars | round }}
      </span>
      <br/>
      <span ng-show="pkg.ghIssues && pkg.ghIssues !== 0">
        <i class="fa fa-exclamation-circle b-gh"></i> {{ pkg.ghIssues | round }}
      </span>
    </td>

    <td><small>{{ pkg.ghUpdatedHuman }}</small></td>

  </tr>
  </tbody>

</table>
