<h2>Command usage over past <span>7 days <i class="fa fa-caret-down"></i></span></h2>

<table class="table table-condensed b-table-cmds">

  <thead>
    <tr>
      <td>Command</td>
      <td>Users</td>
      <td>Uses <span class="pull-right">per user</span></td>
      <td>Packages <span class="pull-right">per use</span></td>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="cmd in cmds | orderBy: 'order'">
      <td><i class="fa fa-fw" ng-class="'fa-' + cmd.icon"></i> {{ cmd.cmd }}</td>
      <td ng-repeat="metric in cmd.metrics | orderBy: 'order'">
        {{ metric.current | round: 0 }}
        <b-delta delta="{{ metric.delta }}" type="pct"></b-delta>

        <!--per use-->
        <span ng-if="metric.metric !== 'users'" class="pull-right">
          {{ metric.current / cmd.metrics[$index - 1].current | round: 1 }}
        </span>
      </td>
    </tr>
  </tbody>

</table>