<!--<h2>Command usage over past <span>7 days <i class="fa fa-caret-down"></i></span></h2>-->
<h2 class="text-center">Command usage over past 7 days</h2>

<table class="table table-condensed b-table-cmds">

  <thead>
    <tr>
      <td>Command</td>
      <td>Users</td>
      <td>Uses <span class="pull-right">per user</span></td>
      <td>Packages <span class="pull-right">per use</span></td>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="cmd in cmds | orderBy: 'order'">
      <td><i class="fa fa-fw" ng-class="'fa-' + cmd.icon"></i> {{ cmd.name }}</td>

      <td>
        <!--absolute-->
        {{ cmd.usersSum[1] | round: 0 }}

        <!--delta-->
        <b-delta delta="{{ cmd.usersSum[1] / cmd.usersSum[0] - 1 }}" type="pct"></b-delta>
      </td>

      <td>
        <!--absolute-->
        {{ cmd.usesSum[1] | round: 0 }}

        <!--delta-->
        <b-delta delta="{{ cmd.usesSum[1] / cmd.usesSum[0] - 1 }}" type="pct"></b-delta>

        <!--per use-->
        <span class="pull-right">
          {{ cmd.usesSum[1] / cmd.usersSum[1] | round: 1 }}
        </span>
      </td>

      <td ng-if="cmd.packagesSum">
        <!--absolute-->
        {{ cmd.packagesSum[1] | round: 0 }}

        <!--delta-->
        <b-delta delta="{{ cmd.packagesSum[1] / cmd.packagesSum[0] - 1 }}" type="pct"></b-delta>

        <!--per use-->
        <span class="pull-right">
          {{ cmd.packagesSum[1] / cmd.usesSum[1] | round: 1 }}
        </span>
      </td>

    </tr>
  </tbody>

</table>
