@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@import "../bower_components/lesshat/build/lesshat-prefixed.less";
@fa-font-path: "../bower_components/font-awesome/fonts";


// custom var
@b-yellow: #FFCC2F;
@b-yellow-2: lighten(@b-yellow, 35%);
@b-brown: #543729;
@b-red: #EF5734;
@b-green: #2BAF2B;
@b-blue: #00acee;
@b-gray: #cecece;

// bs var override
@font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
//@line-height-base: 2;
@headings-font-weight: bold;
@brand-primary: @b-green;
@grid-gutter-width: 0;

body {
//  .make-row();
  color: #222;
}

/* wrap
================================================== */

.wrap {
  .make-lg-column(8, 0);
  .make-md-column(8, 0);
  .make-lg-column-offset(2);
  .make-md-column-offset(2);
}

/* Hero
================================================== */

header {
  .make-row();

  background: @b-yellow;
  padding: 40px 0 40px;

  .left {
//    .make-lg-column(3, 0);
//    .make-md-column(3, 0);

    .b-logo { width: 100px }
  }

  .right {
//    .make-lg-column(9, 0);
//    .make-md-column(9, 0);
    text-align: right;
  }

  h1 {
    color: @b-red;
    font-size: 4em;
    letter-spacing: -0.04em;

    small {
      color: @b-brown;
      font-weight: bold;
      letter-spacing: normal;
    }
  }
}

section { .make-row() }

footer {
  .make-row();
  color: @b-brown;
  text-align: center;
  border-top: 1px solid @b-yellow-2;
  margin-top: 20px;
  padding: 5px 0 20px;
}








.b-chart-traffic {
  height: 500px;
  background: lighten(@b-yellow, 35%);

  .area {
    stroke: none;
//    shape-rendering: crispEdges; // worse in Chrome
    &.N { fill: @b-blue }
    &.E { fill: @b-yellow }
  }

  .axis {
    path, line {
      fill: none;
      stroke: @b-gray;
      shape-rendering: crispEdges;
    }
    text { font-size: 10px }
  }

  text { .lh-user-select(none) }
}