// vendor
@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@import "../bower_components/lesshat/build/lesshat-prefixed.less";
@import "../bower_components/github-fork-ribbon-css/gh-fork-ribbon.css";
@fa-font-path: "../bower_components/font-awesome/fonts";

// custom
@import "../b-chart-users/module.less";
@import "../b-table-commands/module.less";
@import "../b-table-pkgs/b-table-pkgs.less";

// custom var
@b-yellow: #FFCC2F;
@b-yellow-2: lighten(@b-yellow, 35%);
@b-brown: #543729;
@b-red: #EF5734;
@b-green: #2BAF2B;
@b-blue: #00acee;
@b-gray: #cecece;

// bs var override
@font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
//@line-height-base: 2;
@headings-font-weight: bold;
@brand-primary: @b-green;
@grid-gutter-width: 0;
@link-color: @b-blue;

body {
  color: #222;
}

/* wrap
================================================== */

.b-wrap {
  .make-lg-column(8, 0);
  .make-md-column(8, 0);
  .make-lg-column-offset(2);
  .make-md-column-offset(2);
}

/* Hero
================================================== */

.github-fork-ribbon { background-color: @b-green }

header {
  .make-row();

  background: @b-yellow;
  height: 130px;
  padding: 10px 0 10px;
  color: @b-brown;
  .b-wrap { height: 100% }

  .b-left {
    .make-lg-column(4, 0);
    .make-md-column(4, 0);

    height: 100%;

    .b-logo { height: 100%; width: auto }
  }

  .b-right {
    .make-lg-column(8, 0);
    .make-md-column(8, 0);

    height: 100%;
    .lh-display(flex);
    .lh-justify-content(flex-end);
    .lh-align-items(center); // vertical
    text-align: right;

    .b-brand {
      font-weight: bold;
      line-height: 2em;
      .b-1 { font-size: 3em }
      .b-2 { letter-spacing: -0.04em; font-size: 4em; color: @b-red; }
    }
    .b-stat { font-weight: bold; color: @b-brown; font-size: 2em; }
  }
}

section { .make-row() }

/* Footer
================================================== */

footer {
  .make-row();
  color: @b-brown;
  text-align: center;
//  border-top: 1px solid @b-brown;
  margin-top: 20px;
  padding: 5px 0 20px;
}

.b-chart {
  cursor: default;
  margin: 10px 0 10px;
}

h1, h2, h3, h4, h5, h6 > .b-title {
  text-align: center;
  color: @b-brown;
  span {border-bottom: 1px dashed @b-yellow}
  i {color: @b-yellow}
}