<h2>Popularity around the world over past month</h2>

<div class="b-chart b-map">
  <div class="b-options">
    <div class="btn-group">
      <button class="btn btn-info btn-xs" ng-model="chartType" btn-radio="'Users'">Users</button>
      <button class="btn btn-info btn-xs" ng-model="chartType" btn-radio="'Density'">Density</button>
    </div>
    <i class="fa fa-question-circle"
       popover-trigger="mouseenter"
       popover="Users = Bower MAUs (monthly active users); Density = MAUs per 1m population; excl. countries with only 1 MAU"></i>
  </div>
</div>